<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Update Tasks Here!</title>
</head>
<body>
<form action="/updateTask" method="POST">
    Task ID:
    <input type="number" name="taskid" /> </br>
    New Task Status:
    <input type="text" name="taskStatus" /> </br>
    <button>Submit</button>
</form>
<a href="/">Home</a>
<a href="/listtasks">List Tasks</a> <br>
<a href="/newtask">New Task</a> <br>
<a href="/deletetasks">Delete Task</a> <br>
</body>
</html>